* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-image: url(/assets/images/WebseiteVisitenkarte.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  font-family: "Roboto", sans-serif;
  min-width: 360px;
  background-color: black;
  color: white;
}

h1 {
  color: transparent;
}
h2 {
  text-align: center;
  font-size: 46px;
  margin: 100px auto;
}
.about {
  text-align: center;
  font-size: 32px;
  margin-bottom: 100px;
}
.opening-hours {
  font-size: 24px;
  float: inline-end;
  padding-right: 50px;
}
address {
  text-align: center;
  padding-top: 150px;
}
i {
  padding-right: 10px;
}
a {
  text-decoration: none;
  color: white;
}
.adress-link {
  font-size: 24px;
  font-style: normal;
}
.contacts {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px auto;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.social-links i {
  font-size: 36px;
}
@media (max-width: 800px) {
  body {
    background-image: url(assets/images/WebseiteVisitenkarte\ mobil.jpg);
  }
}
